{% extends 'base.html' %}

{% load static %}
{% load static tailwind_tags %}

{%block content%}
<section>
    <div class="flex flex-col items-center justify-center mx-6 md:h-screen lg:py-0">
        <div class="w-full bg-white/75 mt-6 md:-mt-48 rounded-lg shadow sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Reset Password
                </h1>
                <form class="space-y-4 md:space-y-6" method="post">

                    {% csrf_token %}

                        {% for field in form %}
                            <div>
                                <label class="block mb-2 text-sm font-semibold text-lg text-slate-700" for="{{field.id_for_label}}">
                                    {{field.label}}
                                </label>
                                    {{ field }}
                            </div>
                        {% endfor %}

                        {% if form.errors %}
                        <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Info</span>
                            {% for error in form.errors.values %}
                                <strong>{{error}}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                    <div class="flex grid grid-cols-3 gap-4">
                        <button type="submit" class="col-start-1 col-end-3 w-full inline-block bg-blue-600 rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm ring-1 ring-gray-900/10 hover:bg-blue-700 hover:ring-gray-900/20">Send</button>
                        <a href="{% url 'login' %}"  class="w-full justify-center text-center inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-slate-600/70 shadow-sm ring-1 ring-gray-900/10 hover:ring-gray-900/20">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{%endblock content%}