{% extends 'base.html' %}

{% load static %}
{% block content %}
<main class="px-4 lg:px-20 mb-auto">
  <div class="flex justify-center mt-10 mb-10">
    <div class="text-center">
        <div class="text-xs uppercase font-bold tracking-wider text-mrblack/70 -mb-1">
          YOU START
        </div>
        <h2 class="text-5xl font-black text-mrgreen">
          Analysis
        </h2>
    </div>
  </div>
    <div class="flex flex-wrap grid grid-cols-1 lg:grid-cols-9 mb-24">
      <!-- STEP START -->
      <div class="mr-auto col-span-1 lg:col-start-2 lg:col-span-4 place-self-start">
        <div class="px-1 lg:px-10 pb-6 mt-4 flex flex-wrap">
          <div class="flex flex-wrap w-full">
            <div class="mb-6 md:w-5/6 md:pr-10">
              <div class="flex relative pb-16">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-mrgreen pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-mrgreen inline-flex items-center justify-center text-white relative z-10">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6ca59f" class="fill-[#6ca59f] w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                  </svg>
                </div>
                <div class="flex-grow pl-4">
                  <h2 class="font-semibold text-lg title-font text-sm text-teal-800 mb-1 tracking-wider">STEP 1
                    <p class="tracking-normal">SELECT FIELD WITHIN</p>
                  </h2>
                  <p class="leading-relaxed mb-1">
                    <p class="text-sm tracking-wider">Transcription, Pathways, Ontologies, Disease/Drugs and Cell Types</p>
                    <a class="flex flex-wrap font-semibold text-md text-mrgreen font-mono rounded-md mt-4 w-fit px-2 py-1.5 transition-all hover:bg-mrgreen/5" href="{% url 'analysis_archive' EXAMPLE_RESULT %}">or look at an EXAMPLE!<svg class="fill-mrgreen w-5 h-5 mt-0.5 ml-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M384 32c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H384zM160 144c-13.3 0-24 10.7-24 24s10.7 24 24 24h94.1L119 327c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l135-135V328c0 13.3 10.7 24 24 24s24-10.7 24-24V168c0-13.3-10.7-24-24-24H160z"/></svg>
                    </a>
                  </p>
                </div>
              </div>
              <div class="flex relative pb-12">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-mrgreen pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-mrgreen inline-flex items-center justify-center text-white relative z-10">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6ca59f" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.745 3A23.933 23.933 0 003 12c0 3.183.62 6.22 1.745 9M19.5 3c.967 2.78 1.5 5.817 1.5 9s-.533 6.22-1.5 9M8.25 8.885l1.444-.89a.75.75 0 011.105.402l2.402 7.206a.75.75 0 001.104.401l1.445-.889m-8.25.75l.213.09a1.687 1.687 0 002.062-.617l4.45-6.676a1.688 1.688 0 012.062-.618l.213.09" />
                  </svg>
                </div>
                <div class="flex-grow pl-4">
                  <h2 class="font-semibold title-font text-sm text-teal-800 mb-1 tracking-wider">STEP 2
                    <p class="tracking-normal">ENTER GENE LIST</p>
                  </h2>
                  <p class="leading-relaxed">
                    <p class="text-sm tracking-wider">Gene list must be separated by commas, tabs or lines.</p>
                  </p>
                </div>
              </div>
              <div class="flex relative">
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-mrgreen inline-flex items-center justify-center text-white relative z-10">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6ca59f" class="ml-0.5 w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                  </svg>
                </div>
                <div class="flex-grow pl-4">
                  <h2 class="font-semibold title-font text-sm text-teal-800 mb-1 tracking-wider">START ANALYSIS</h2>
                  <p class="leading-relaxed">
                    <p class="text-sm tracking-wider">After 2 steps, ready to analyze. Also leave yourself a reminder description about genes or designate results as private, these are not required.</p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
          <!-- STEP END -->
      <div class="col-span-1 lg:col-start-6 lg:col-span-3 ">
          <form action="" method="post">
              {% csrf_token %}
              <div class="grid gap-6 mb-6 md:grid-cols-2 border border-mrblack/60 bg-white/90 px-8 pt-10 pb-6 rounded-xl">
              {% for field in form %}
                <div id="{{ field.auto_id }}" class="{% if field.name == 'email' %} hidden {% endif %} flex flex-wrap col-span-2">
                  {% if field.name != 'send_me_email' %}
                    {{ field.errors }}
                    <label class="block mb-2 text-sm font-semibold text-lg text-mrblack" for="{{field.id_for_label}}">
                        {{field.label}}{% if field.name == 'gene_list' or field.name == 'enrichment_field'%}**{% endif %}
                    </label>
                    <div class="has-tooltip">
                        <span class='tooltip rounded text-xs font-bold shadow-lg p-2 bg-blue-50 text-mrgreen -mt-8'>{{ field.help_text }}</span>
                        <svg class="w-4 h-4 ml-1 mt-0.5 text-mrgreen hover:text-mrgreen/80" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                    </div>
                        {{ field }}
                    {% else %}
                      {{ field.errors }}
                      {{ field }}
                      <label class="block text-sm font-semibold text-lg text-slate-700" for="{{field.id_for_label}}">
                          {{field.label}}
                      </label>
                      <div class="has-tooltip">
                          <span class='tooltip rounded text-xs shadow-lg p-1.5 bg-blue-100 text-blue-500 -mt-8'>{{ field.help_text}}</span>
                          <svg class="w-4 h-4 ml-1 mt-0.5 text-blue-400 hover:text-blue-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                      </div>
                    {% endif %}
                </div>
              {% endfor %}
              <p class="col-span-2 text-xs text-slate-500 -mb-8">** fields are required.</p>
              <p class="col-span-2 text-xs text-slate-500">We’ll never share your details. Read our <a href="#" class="text-mrgreen hover:underline">Privacy Policy</a>.</p>
            </div>

            <button type="submit" class="w-full font-black box-border relative z-30 inline-flex items-center justify-center w-auto px-8 py-3 overflow-hidden text-white transition-all duration-300 bg-teal-600 rounded-md cursor-pointer group ring-offset-2 ring-1 ring-teal-500 ring-offset-teal-200 hover:ring-offset-teal-600 ease focus:outline-none">
              <span class="absolute bottom-0 right-0 w-8 h-20 -mb-8 -mr-5 transition-all duration-300 ease-out transform rotate-45 translate-x-1 bg-white opacity-10 group-hover:translate-x-0"></span>
              <span class="absolute top-0 left-0 w-20 h-8 -mt-1 -ml-12 transition-all duration-300 ease-out transform -rotate-45 -translate-x-1 bg-white opacity-10 group-hover:translate-x-0"></span>
              <span class="relative z-20 flex items-center text-sm">
              START ANALYSIS
              </span>
            </button>
          </form>
        </div>
    </div>
</main>
{% endblock %}