{% load static %}
{% load username %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N2Rich</title>
  {% tailwind_css %}
</head>
<body>
  <!-- This example requires Tailwind CSS v3.0+ -->
<div class="flex flex-col h-screen justify-between isolate">
  <div class="mb-auto">
  <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
    <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
      <defs>
        <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
          <stop stop-color="#007a73"></stop>
          <stop offset="1" stop-color="#01BEFF"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="px-6 pt-6 lg:px-8 pb-6 bg-white/15 border-b border-slate-900/10">
    <div>
      <nav class="flex h-9 items-center justify-between" aria-label="Global">
        <div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
            <a href="/" class="flex items-center">
                <img class="mr-3 h-8" src="https://tailwindui.com/img/logos/mark.svg?color=teal&shade=800" alt="">
                <span class="self-center text-2xl font-bold text-mrgreen whitespace-nowrap">N2Rich</span>
            </a>
        </div>

        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <nav class="hidden lg:flex">
          <ul class="list-none flex flex-row justify-center items-center space-x-2 text-[0.95rem]">
            {% with url_name=request.resolver_match.url_name %}
             <li><a class="font-semibold transition-all hover:bg-teal-50/40 rounded-md px-4 py-2.5 cursor-pointer h-[34px] flex items-center tracking-tight {% if url_name == 'index' %}bg-teal-50/70{% endif %}" href="{% url 'index' %}">Home</a></li>
             <li><a class="font-semibold transition-all hover:bg-teal-50/40 rounded-md px-4 py-2.5 cursor-pointer h-[34px] flex items-center tracking-tight {% if url_name == 'analysis' %}bg-teal-50/70{% endif %}" href="{% url 'analysis' %}">Analysis</a></li>
             <li><a class="font-semibold transition-all hover:bg-teal-50/40 rounded-md px-4 py-2.5 cursor-pointer h-[34px] flex items-center tracking-tight {% if url_name == 'get_record' %}bg-teal-50/70{% endif %}" href="{% url 'get_record' %}">Records</a></li>
             <li><a class="font-semibold transition-all hover:bg-teal-50/40 rounded-md px-4 py-2.5 cursor-pointer h-[34px] flex items-center tracking-tight {% if url_name == 'contact_us' %}bg-teal-50/70{% endif %}" href="{% url 'contact_us' %}">Contact Us</a></li>
             {% endwith %}
          </ul>
       </nav>
        <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-end">
          {% if request.user.is_authenticated %}
          <a href="{% url 'user_records' %}" class="flex inline-block mr-2 rounded-lg text-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 bg-blue-100 shadow-sm ring-1 ring-blue-600/30 hover:ring-blue-600/60">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="mr-2 mt-0.5 h-5 w-5" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z"/></svg>See Records
          </a>
          <a href="#" class="flex inline-block mr-2 rounded-lg text-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 bg-blue-100 shadow-sm ring-1 ring-blue-600/30 hover:ring-blue-600/60">
            <svg fill="currentColor" class="mr-2 mt-0.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM625 177L497 305c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L591 143c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
            {{ request.user|username_first:"@" }}
          </a>
          <a href="{% url 'logout' %}?next={{request.path}}" class="inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-slate-700 shadow-sm ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Log out
            <span class="ml-1 font-bold text-indigo-200" aria-hidden="true">&rarr;</span>
          </a>
          {% else %}
          <a href="{% url 'signup' %}?next={{request.path}}" class="inline-block mr-2 px-3 py-1.5 text-sm font-semibold leading-6 text-slate-700 hover:text-blue-500">Sign Up</a>
          <a href="{% url 'login' %}?next={{request.path}}" class="inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-slate-700 shadow-sm ring-1 ring-gray-900/10 hover:ring-gray-900/20">Log in</a>
          {% endif %}
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->

    </div>
  </div>
  {% block content %}
  {% endblock %}
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-50rem)]">
    <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
      <defs>
        <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6ee7b7"></stop>
          <stop offset="1" stop-color="#f87171"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  </div>
  <footer class="p-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="/" class="flex items-center">
            <img class="mr-3 h-8" src="https://tailwindui.com/img/logos/mark.svg?color=teal&shade=800" alt="">
            <span class="self-center text-2xl font-bold text-mrgreen whitespace-nowrap">N2Rich</span>
        </a>
        <ul class="flex flex-wrap items-center text-sm text-gray-500">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 sm:mx-auto border-slate-300 lg:my-6"/>
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">© 2022 <a href="https://flowbite.com/" class="hover:underline">N2Rich™</a>. All Rights Reserved.
      </span>
      <div class="flex mt-2 space-x-6 sm:justify-center sm:mt-0">
          <a href="https://www.linkedin.com/in/berkay-ozcelik/" class="text-gray-500 hover:text-gray-900">
              <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
              <span class="sr-only">Linkedin page</span>
          </a>
          <a href="https://github.com/noepinefrin" class="text-gray-500 hover:text-gray-900">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
              <span class="sr-only">GitHub account</span>
          </a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>