{% extends 'base.html' %}

{% block content %}
<main class="mb-auto justify-between">
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-3xl pt-28 pb-32 sm:pt-30 sm:pb-40">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <span class="text-gray-600">
              Open-Source Enrichment Analysis Project: N2Rich<a href="#" class="pl-1 font-semibold text-black-600"><span class="ml-6 absolute inset-0" aria-hidden="true"></span>GitHub<span aria-hidden="true">&rarr;</span></a>
            </span>
          </div>
        </div>
        <div>
          <h1 class="text-3xl font-bold tracking-tight sm:text-center sm:text-5xl">Discover specific <span class="bg-gradient-to-r from-blue-600 via-green-500 to-blue-400 inline-block text-transparent bg-clip-text">biomarkers</span> through our tools.</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">Apply enrichment test among hundreds of thousands of terms in more than 6 fields over 130 databases.</p>
          <div class="mt-10 flex gap-x-4 sm:justify-center">
            <a href="{% url 'analysis' %}" class="box-border relative z-30 inline-flex items-center justify-center w-auto px-8 py-3 overflow-hidden font-bold text-white transition-all duration-300 bg-blue-600 rounded-md cursor-pointer group ring-offset-2 ring-1 ring-blue-300 ring-offset-blue-200 hover:ring-offset-blue-500 ease focus:outline-none">
                <span class="absolute bottom-0 right-0 w-8 h-20 -mb-8 -mr-5 transition-all duration-300 ease-out transform rotate-45 translate-x-1 bg-white opacity-10 group-hover:translate-x-0"></span>
                <span class="absolute top-0 left-0 w-20 h-8 -mt-1 -ml-12 transition-all duration-300 ease-out transform -rotate-45 -translate-x-1 bg-white opacity-10 group-hover:translate-x-0"></span>
                <span class="relative z-20 flex items-center text-sm">
                <svg class="relative w-5 h-5 mr-2 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
                GET STARTED
                </span>
                </a>
          </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}